<div class="body-2 p-6 bg-primary text-primary-contrast">
  <p>HOJE</p>
  <div class="display-1">{{ dayName }}</div>
  <div class="display-1">{{ date }}</div>
</div>

<mat-divider></mat-divider>

<mat-nav-list>
  <h3 matSubheader>Agendamentos do dia</h3>
  <div *ngFor="let agendamentoHoje of listaAgendamentos">
    <a (click)="mostraAgendamento(agendamentoHoje)" mat-list-item >
      <h4 matLine>{{ agendamentoHoje.nomeCliente }}</h4>
      <p matLine>{{ agendamentoHoje.hrAtendimento }}</p>
    </a>
  </div>
  <div>
    <a mat-list-item *ngIf="listaAgendamentos.length === 0" >
      <h4 matLine> Ainda não possui agendamentos </h4>
    </a>
  </div>
