<!doctype html>
<html lang="pt-br">
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <title>Cadastro concluído</title>
    </head>
    <body>
        <div class="layout">
            <div class="icon-content">
                <mat-icon class="icon">assignment_turned_in</mat-icon>
            </div>
            <div class="text-content">
                <h1>Cadastro concluído!</h1>
                <p class="text">Seja bem-vindo à Easycut!</p>
                <p class="text">
                    É um prazer ter você em nosso portifólio de parceiros.
                </p>
                <br/>
                <p class="text">
                    Trabalhamos diariamente para garantir um serviço de
                    qualidade e excelência, então qualquer dúvida conte
                    conosco!
                </p>
            </div>
            <div class="example-button-row">
                <button class="btn" color="primary" mat-raised-button type="button" [mat-dialog-close]="true">
                    Ok, obrigado
                </button>
            </div>
        </div>
    </body>
</html>
