<vex-page-layout mode="card">

  <vex-page-layout-header fxLayout="column" fxLayoutAlign="right start">
    <div vexContainer>
      <!-- <h2 class="title m-0"> {{legenda}} </h2> -->
      <h2 class="title m-0" *ngIf="servicos"> Meus Serviços </h2>
      <h2 class="title m-0" *ngIf="produtos"> Meus Produtos </h2>
      <h2 class="title m-0" *ngIf="promocoes"> Minhas Promoções </h2>
      <!-- <vex-breadcrumbs [crumbs]="['Page Layouts', 'Card', 'Large Header & Tabbed']"></vex-breadcrumbs> -->
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content vexContainer>
    <div class="card">
      <mat-tab-group (selectedTabChange)="trocaLegenda($event)">
        <mat-tab label="Serviços">
          <div class="p-6">
            <exebicao-servicos></exebicao-servicos>
          </div>
        </mat-tab>
        <mat-tab label="Produtos">
          <div class="p-6">
            <exebicao-produtos></exebicao-produtos>
          </div>
        </mat-tab>
        <mat-tab label="Promoções">
          <div class="p-6">
            <exebicao-promocoes></exebicao-promocoes>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </vex-page-layout-content>

</vex-page-layout>



