<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
    <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
        <vex-scrollbar [@stagger]="10" class=" flex-auto">
            <div class="p-2 pb-0" fxLayout="column" fxLayoutAlign="center center">
                <div class="fill-current text-center">
                    <img alt="" class="w-12 img" src="assets/img/demo/logo.svg" />
                </div>
            </div>

            <div class="text-center mt-4">
                <h2 class="title m-0">Bem-vindo de volta</h2>
                <h4 class="body-2 m-0">Digite suas credenciais abaixo.</h4>
            </div>

            <div [formGroup]="form" class="p-4" fxLayout="column" fxLayoutGap="16px">
                <div class="row">
                    <mat-form-field fxFlex="grow" appearance="standard">
                        <mat-label class="email">E-Mail</mat-label>
                        <input formControlName="email" matInput required [(ngModel)]="usuario.username" />
                        <mat-error *ngIf="form.get('email').hasError('required')">Precisamos de um endereço de e-mail
                            para
                            realizar seu
                            login</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="pass" fxFlex="grow" appearance="standard">
                        <mat-label class="password">Senha</mat-label>
                        <input [type]="inputType" formControlName="password" matInput required
                            [(ngModel)]="usuario.password" />
                        <button class="olho" (click)="toggleVisibility()" mat-icon-button matSuffix
                            matTooltip="Alternar" type="button">
                            <mat-icon class="eye" *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                            <mat-icon class="eye" *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
                        </button>
                        <mat-hint>Clique no olho para exibir a senha</mat-hint>
                        <mat-error *ngIf="form.get('password').hasError('required')">Precisamos de uma senha para
                            realizar
                            seu
                            login</mat-error>
                    </mat-form-field>
                </div>

                <div class="camptionx" fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-checkbox class="caption" color="primary">Lembrar-me</mat-checkbox>
                    <a [routerLink]="['/recuperacao-senha']" class="caption2">Esqueceu sua senha?</a>
                </div>

                <button class="singin" (click)="login()" (window:keydown.enter)="login()" color="primary" mat-raised-button type="button">
                    ENTRAR
                </button>
                <div class="text-secondary text-center">Não tem uma conta?</div>
                <div class="text-secondary secondary2 text-center">
                    <span><strong><a [routerLink]="['/cadastro']">Clique aqui
                            </a></strong>
                        para criar uma</span>
                </div>
            </div>
        </vex-scrollbar>
    </div>
</div>

<div *ngIf="load" id="vex-splash-screen-load">
    <div class="wrapper">
        <div class="ball-scale-multiple">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
