<div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
    <h2 class="title m-0">Construção</h2>
</div>
<mat-dialog-content>
    <div class="alinhar">
        <img style="margin-top: 8%" src="assets/img/construcao.svg" alt="" />
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button
        mat-button
        [mat-dialog-close]="true"
        mat-raised-button
        color="primary"
    >
        Adicionar
    </button>
</mat-dialog-actions>
