<div class="footer" fxLayout="row">
    <div
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutAlign.gt-xs="space-between center"
        fxFlex
    >
        <a
            href="https://liquipedia.net/dota2/Natus_Vincere"
            target="_blank"
            mat-button
            fxFlex="0 0 auto"
            fxLayout="row"
            fxLayoutAlign="start center"
        >
            <img
                alt=""
                style="max-width: 60px; border-radius: 60px"
                src="assets/ondline.jpg"
            />
        </a>
        <div class="info">
            <div fxLayout="row" style="margin-left: -80%">
                &copy;2023 Todos os direitos reservados à OnDLine Solutions
                <p style="margin-left: 190px">v0.1</p>
            </div>
        </div>
    </div>
</div>
