<div class="mat-elevation-z8">
    <table aria-label="tabela-reservas" mat-table [dataSource]="dataSource">
        
        <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef>Cliente</th>
            <td mat-cell *matCellDef="let element">{{ element.cliente }}</td>
        </ng-container>

        <ng-container matColumnDef="produto">
            <th mat-header-cell *matHeaderCellDef>Produto</th>
            <td mat-cell *matCellDef="let element">{{ element.produto }}</td>
        </ng-container>

        <ng-container matColumnDef="quantidade">
            <th mat-header-cell *matHeaderCellDef>Quantidade</th>
            <td mat-cell *matCellDef="let element">{{ element.quantidade }}</td>
        </ng-container>

        <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef>Valor</th>
            <td mat-cell *matCellDef="let element">{{ element.valor }}</td>
        </ng-container>

        <ng-container matColumnDef="dtRetirada">
            <th mat-header-cell *matHeaderCellDef>Data retirada</th>
            <td mat-cell *matCellDef="let element">{{ element.dtRetirada }}</td>
        </ng-container>

        <ng-container matColumnDef="status" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="tdsticky" mat-cell *matCellDef="let element">
                <mat-form-field [class]="element.status === 'aguar-retirada'
                            ? 'aguar-retirada'
                            : element.status === 'entregue'
                            ? 'entregue'
                            : 'cancelado'">
                    <mat-select class="select-option" [(value)]="element.status">
                        <mat-option value="aguar-retirada">Aguar.retirada</mat-option>
                        <mat-option value="entregue">Entregue</mat-option>
                        <mat-option value="cancelado">Cancelado</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[6, 10, 15]" showFirstLastButtons 
        aria-label="Selecione as páginas de Clientes">
    </mat-paginator>
    
</div>
