<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
    <div @fadeInUp class="card overflow-hidden w-full max-w-xs" style="height: 90vh; overflow-y: auto">
        <vex-scrollbar [@stagger]="10" class="p-4 flex-auto">
            <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
                <div class="fill-current text-center">
                    <img class="w-16" src="assets/img/demo/logo.svg" alt="logo do estabelecimento" />
                </div>
            </div>

            <div class="text-center mt-4">
                <h2 class="title m-0">Crie sua conta</h2>
                <h4 class="body-2 text-secondary m-0">
                    Com alguns cliques, crie sua conta e tenha seu estabelecimento
                    ao alcance de seus clientes.
                </h4>
            </div>

            <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
                <div fxFlex="auto" fxLayout="column">
                    <mat-form-field fxFlex="grow">
                        <mat-label>Nome Completo</mat-label>
                        <input formControlName="name" matInput required />
                    </mat-form-field>

                    <div class="establishment-information" fxLayout.xs="column" fxLayout="row">
                        <mat-form-field fxFlex="48%">
                            <mat-label>Nome do Estabelecimento</mat-label>
                            <input formControlName="establishment" matInput required />
                        </mat-form-field>

                        <mat-form-field fxFlex="48%">
                            <mat-label>CPF/CNPJ</mat-label>
                            <input formControlName="cpfCnpj" mask="CPF_CNPJ" matInput required />
                        </mat-form-field>
                    </div>

                    <mat-form-field fxFlex="grow">
                        <mat-label>E-Mail</mat-label>
                        <input formControlName="email" matInput required />
                    </mat-form-field>

                    <div class="password-fields" fxLayout.xs="column" fxLayout="row">
                        <mat-form-field fxFlex="48%">
                            <mat-label>Senha</mat-label>

                            <input [type]="inputType" formControlName="password" matInput required />

                            <button (click)="toggleVisibility()" mat-icon-button matSuffix
                                matTooltip="Toggle Visibility" type="button">
                                <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                                <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
                            </button>
                        </mat-form-field>

                        <mat-form-field fxFlex="48%">
                            <mat-label>Confirmar Senha</mat-label>

                            <input [type]="inputType" formControlName="passwordConfirm" matInput required />

                            <button (click)="toggleVisibility()" mat-icon-button matSuffix
                                matTooltip="Toggle Visibility" type="button">
                                <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                                <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-checkbox class="caption">Li e concordo com os
                        <span><strong><a href="">Termos e Condições.</a></strong></span>
                    </mat-checkbox>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-checkbox class="caption">Li e concordo com as
                        <span><strong><a href="">Políticas de Privacidade.</a></strong></span>
                    </mat-checkbox>
                </div>

                <button [disabled]="form.invalid" (click)="cadastrarEstabelecimento()" color="primary" mat-raised-button
                    type="button">
                    CRIAR CONTA
                </button>

                <p class="text-secondary text-center">
                    Já tem uma conta?<br />
                    <a [routerLink]="['/login']"><span><strong>Faça login aqui</strong></span></a>
                </p>
            </div>
        </vex-scrollbar>
    </div>
</div>
<!-- LOADING -->
<div *ngIf="load" id="vex-splash-screen-load">
    <div class="wrapper">
        <div class="ball-scale-multiple">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>