// STYLE DO FILTRO
.filter {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-wrap: wrap;

  .pesquisa-opcao {
    display: flex;
    width: 55%;
    justify-content: space-between;
    flex-wrap: wrap;
    .inptPes {
        width: 300px;
    }
    .option {
      justify-content: right;
    }
  }

  .botao-view {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 25%;
    max-width: 40%;
    flex-wrap: wrap;
    .btnAdd{
      border-radius: 5px;
    }
    .viewPag{
      margin-left: 5%;
    }
  }

  .label{
    color: rgb(38, 43, 57);
  }
}

// STYLE DA TABELA

// Deixando a largura da tabela em 100%
.mat-elevation-z8 {
  table {
    width: 100%;
  }
}

// Espaçamento entro os ícones da tabela
.icon-spacing {
  margin-right: 0.5rem;
}

.icon-color {
  color: #DAAA00;
}

// Alterando cor e tamanho do título da coluna
.color-title {
  color: #000000;
  font-weight: bold;
  font-size: 1rem;
}

// Ícones dropdown
.iconmenu {
    width: 100%;
    flex: none;
    align-items: center;
    justify-items: center;
    text-align: left;
    padding: 5px;
    display: flex;
}
.layout-menu {
    text-align: center;
    justify-content: center;
}
.descricaoicon{
  margin-left: 0.5rem;
}
