<!-- Filtro da tabela de servicos -->
<div class="row" [formGroup]="form">
    <div class="col-md-6">
        <mat-form-field class="" appearance="standard" fxFlex="grow">
            <mat-label class="label">Pesquisar serviço</mat-label>
            <input matInput formControlName="filtro" (change)="filtrarServicos()"/>
        </mat-form-field>
    </div>
    <div class="col-md-3">
        <mat-form-field appearance="standard" fxFlex="grow">
            <mat-label class="label">Categoria</mat-label>
            <mat-select formControlName="categoria" (selectionChange)="filtrarServicos()">
                <mat-option value="todas">Todas</mat-option>
                <mat-option value="cabelo">Cabelo</mat-option>
                <mat-option value="barba">Barba</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-md-3">
        <mat-form-field appearance="standard" fxFlex="grow">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" (selectionChange)="filtrarServicos()">
                <mat-option value="todos">Todos</mat-option>
                <mat-option value="promocionais">Promocionais</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<div class="row" style="float: right;">
    <div class="col">
        <button style="background-color: #262B39; color: rgb(240, 255, 255);
        " mat-button fxFlex="grow" (click)="limparFiltro()">Limpar <mat-icon>
                backspace</mat-icon></button>
    </div>
    <div class="col">
        <button mat-button mat-raised-button color="primary" (click)="modalCadastrarEditar()" fxFlex="grow">
            Adicionar <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="col">
        <button mat-button (click)="visualizar()" fxFlex="grow">
            <mat-icon *ngIf="verLista">view_list</mat-icon>
            <mat-icon *ngIf="verGrade">view_module</mat-icon>
        </button>
    </div>
</div>

<div style="margin-top: 3rem;">
    <!-- LOADING -->
    <mat-progress-bar *ngIf="load" mode="indeterminate"></mat-progress-bar>

    <vex-lista-servicos *ngIf="verLista" [listaServicos]="listaServicos" [dataSource]="dataSource" [displayedColumns]="displayedColumns" (eventModalCadastrarEditar)="modalCadastrarEditar($event.servico)"
    (eventModalDeletar)="abrirModalDeletar($event.servico)"
    (eventModalOcultar)="abrirModalOcultar($event.servico)"
    (eventModalPromocional)="abrirModalPromocional($event.servico)">
    </vex-lista-servicos>

    <vex-grade-servicos *ngIf="verGrade && listaServicos.length" [listaServico]="listaServicos" (eventModalCadastrarEditar)="modalCadastrarEditar($event.servico)"
    (eventModalDeleter)="abrirModalDeletar($event.servico)">
    </vex-grade-servicos>
</div>
