.corpo {
  margin: 2%;

  .detalhes {
    display: flex;
    align-content: space-between;
  }

  h2 {
    font-weight: 600;
  }

  .venda {
    width: 60%;
  }

  .pagamento {
    width: 100%;
    margin-left: 7%;
    display: flex;

    .selecionados-total {
      width: 100%;
      margin-top: 5%;

      .selecionados-lista {
        width: 100%;
        max-height: 250px;
        overflow: auto;
      }
    }
  }
}

.dados {
  display: flex;
  flex-direction: column;
  width: 100%;

  .dado {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    width: 100%;

    .dado1 {
      display: flex;
      width: 100%;
    }

    .dado2 {
      display: flex;
      width: 100%;
      // margin-top: -5%;
    }

  }
}


.dados-finais {
  width: 100%;
  margin-top: 8%;
}

.pagamento-parcelamento {
  width: 30%;
}

.valores-totais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  align-items: end;

  .valor-final {
    margin-bottom: 3%;
    display: flex;

    .descricao {
      margin-right: 20px;
    }
  }
}
