<!-- Filtro da tebela -->
<div class="filter">
    <div class="search">
        <mat-form-field appearance="standard">
            <mat-label>Pesquisar agendamento</mat-label>
            <input matInput />
        </mat-form-field>
    </div>
    <div class="option">
        <mat-form-field appearance="standard">
            <mat-label>Status</mat-label>
            <mat-select>
                <mat-option value="one">Aceito</mat-option>
                <mat-option value="two">Pendente</mat-option>
                <mat-option value="three">Recusado</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="dateStart">
        <mat-form-field appearance="standard">
            <mat-label>Data Inicial</mat-label>
            <input matInput [matDatepicker]="startDate" />
            <mat-datepicker-toggle
                matSuffix
                [for]="startDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="dateEnd">
        <mat-form-field appearance="standard">
            <mat-label>Data Final</mat-label>
            <input matInput [matDatepicker]="endDate" />
            <mat-datepicker-toggle
                matSuffix
                [for]="endDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="btnClear" color="primary">
        <button mat-button>Limpar <mat-icon>backspace</mat-icon></button>
    </div>
    <div class="btnAdd">
        <button mat-button (click)="openDialog()">
            Adicionar <mat-icon>add</mat-icon>
        </button>
    </div>
</div>

<!-- Tabela -->
<div class="mat-elevation-z8">
    <table aria-label="tabela-agendamentos" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef>Cliente</th>
            <td mat-cell *matCellDef="let agendamento">
                {{ agendamento.cliente.nome }}
            </td>
        </ng-container>

        <ng-container matColumnDef="servico">
            <th mat-header-cell *matHeaderCellDef>Serviço</th>
            <td mat-cell *matCellDef="let agendamento">
                {{ agendamento.nomeServico }}
            </td>
        </ng-container>

        <ng-container matColumnDef="tempo">
            <th mat-header-cell *matHeaderCellDef>Tempo</th>
            <td mat-cell *matCellDef="let agendamento">
                {{ agendamento.tempoEstimado }}min
            </td>
        </ng-container>

        <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef>Valor</th>
            <td mat-cell *matCellDef="let agendamento">
                {{ agendamento.valor | currency }}
            </td>
        </ng-container>

        <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef>Data</th>
            <td mat-cell *matCellDef="let agendamento">
                {{ agendamento.dtAtendimento | date: "dd/MM/YYYY hh:mm" }}
            </td>
        </ng-container>

        <ng-container matColumnDef="responsavel">
            <th mat-header-cell *matHeaderCellDef>Responsável</th>
            <td mat-cell *matCellDef="let agendamento">
                {{ agendamento.responsavel }}
            </td>
        </ng-container>

        <ng-container matColumnDef="status" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
            <td
                class="tdsticky"
                [class]="
                    agendamento.status === 'PENDENTE'
                        ? 'pendente'
                        : agendamento.status === 'ACEITO'
                        ? 'aceito'
                        : 'recusado'
                "
                mat-cell
                *matCellDef="let agendamento"
            >
                <mat-form-field appearance="standard">
                    <mat-select [(value)]="agendamento.status">
                        <mat-option value="PENDENTE">Pendente</mat-option>
                        <mat-option value="ACEITO">Aceito</mat-option>
                        <mat-option value="RECUSADO">Recusado</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>
        <!-- Ícone da tabela -->
        <ng-container matColumnDef="icone">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="layout-menu" mat-cell *matCellDef="let element">
                <button
                    mat-icon-button
                    aria-label="ícone Button"
                    class="icon-spacing"
                >
                    <mat-icon color="primary"> border_color</mat-icon>
                </button>
                <button
                    mat-icon-button
                    aria-label="ícone Button"
                    class="icon-spacing"
                >
                    <mat-icon color="warn">delete</mat-icon>
                </button>
               
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
        [pageSizeOptions]="[6, 10, 15]"
        showFirstLastButtons
        aria-label="Selecione as páginas de Clientes"
    >
    </mat-paginator>
</div>
