// Modal
.planos-precos {
  width: 100%;
  max-width: 1200px;
  top: 20px;
  left: 15%;
  z-index: 2;
  .planos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    .card {
      text-align: center;
    }
  }
}
