// Modal
.planos-precos {
  padding: 30px;
  width: 100%;
  max-width: 1200px;
  top: 20px;
  left: 15%;
  z-index: 9999;
  .planos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .card {
      text-align: center;
      .btn-plano {
        color: #ffffff;
        background-color: #807f97;
        padding: 10px;
        border-radius: 20px;
      }
    }
  }
}
