// STYLE DO FILTRO

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

  .search {
    width: 100%;
    max-width: 35rem;

    mat-form-field {
      border-bottom: 1px solid rgb(38, 43, 57);
      width: 100%;
    }
  }

  .option {
    mat-form-field {
      width: 57%;
    }
  }

  .btnAdd {
    button {
      background-color: rgb(35, 207, 92);
      color: rgb(240, 255, 255);
    }
  }

  mat-label {
    color: rgb(38, 43, 57);
  }
}

// STYLE DA TABELA

// Deixando a largura da tabela em 100%
.mat-elevation-z8 {
  table {
    width: 100%;
  }
}

// Espaçamento entro os ícones da tabela
.icon-spacing {
  margin-right: 0.5rem;
}

.icon-color {
  color: #DAAA00;
}

// Alterando cor e tamanho do título da coluna
.color-title {
  color: #000000;
  font-weight: bold;
  font-size: 1rem;
}
