<div class="row" [formGroup]="form">
  <div class="col-md-6">
    <mat-form-field class="inptPes" appearance="standard" fxFlex="grow">
      <mat-label>Pesquisar produto</mat-label>
      <input matInput formControlName="filtro" (change)="filtrarProdutos()" />
    </mat-form-field>
  </div>

  <div class="col-md-3">
    <mat-form-field appearance="standard" fxFlex="grow">
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="categoria" (selectionchange)="filtrarProdutos()">
        <mat-option value="todas">Todas</mat-option>
        <mat-option value="cabelo">Cabelo</mat-option>
        <mat-option value="barba">Barba</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-md-3">
    <mat-form-field appearance="standard" fxFlex="grow">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" (selectionchange)="filtrarProdutos()">
        <mat-option value="one">Todos</mat-option>
        <mat-option value="two">Promocionais</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>

<div class="row" style="float: right;">
  <div class="col">
    <button style="background-color: #262B39; color: rgb(240, 255, 255);" mat-button fxFlex="grow"
      (click)="limparFiltro()">Limpar
      <mat-icon>backspace</mat-icon></button>
  </div>
  <div class="col">
    <button mat-button mat-raised-button color="primary" (click)="abrirModalCadastrarEditar()" fxFlex="grow">
      Adicionar <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="col">
    <button mat-button (click)="visualizar()" fxFlex="grow">
      <mat-icon *ngIf="verLista">view_list</mat-icon>
      <mat-icon *ngIf="verGrade">view_module</mat-icon>
    </button>
  </div>
</div>


<div style="margin-top: 3rem;">
  <!-- LOADING -->
  <mat-progress-bar *ngIf="load" mode="indeterminate"></mat-progress-bar>

  <vex-lista-produtos *ngIf="verLista" [listaProdutos]="listaProdutos" [dataSource]="dataSource"
    [displayedColumns]="displayedColumns" (eventModalCadastrarEditar)="abrirModalCadastrarEditar($event.produto)"
    (eventModalDeletar)="abrirModalDeletar($event.produto)" (eventModalOcultar)="abrirModalOcultar($event.produto)"
    (eventModalPromocional)="abrirModalPromocional($event.produto)">
  </vex-lista-produtos>

  <vex-grade-produtos *ngIf="verGrade && listaProdutos.length" [listaProdutos]="listaProdutos"
    (eventModalCadastrarEditar)="abrirModalCadastrarEditar($event.produto)"
    (eventModalDeletar)="abrirModalDeletar($event.produto)" (eventModalOcultar)="abrirModalOcultar($event.produto)"
    (eventModalPromocional)="abrirModalPromocional($event.produto)">
  </vex-grade-produtos>

</div>
